@model KingShipper.Models.ResponseModel<KingShipper.Entity.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="graph-visual tables-main">
    <h2 class="inner-tittle">User Table</h2>
    <div class="graph">
        <div class="tables">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <a href="@Url.Action("Add")">Add</a>
                        </th>
                    </tr>
                    <tr>
                        <th>STT</th>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Birthday</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{   var i = 1;}
                    @foreach (var item in Model.DataList)
                    {

                        <tr>
                            <th scope="row">@i</th>
                            <td>@item.Name</td>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                            <td>@item.Address</td>
                            <td>@item.Birthday</td>
                            <td>@item.RoleID</td>
                            <td>@item.Status</td>
                            <td>@item.Created</td>
                            <td>@item.Updated</td>
                            <td>
                                <a href="@Url.Action("Delete", @item.Id)">Delete | </a>
                                <a href="@Url.Action("Update", @item.Id)">Update | </a>
                                <a href="@Url.Action("Index", "UserBusiness", new { userId = item.Id })">Role</a>
                                <a href="@Url.Action("Index", "UserPermission", new { userId = item.Id })">Permission</a>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

